# Django
DJANGO_SECRET_KEY=your_secret_key

# PostgreSQL
DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=db
DATABASE_PORT=5432  # или другой порт, если используется не стандартный

# Инициализируйте Stripe с вашим API ключом
STRIPE_SECRET_KEY=your_secret_key

# Инициализируйте Stripe с вашим API ключом
STRIPE_SECRET_KEY=your_stripe_secret_key
DEBUG=True
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_SUCCESS_URL=your_stripe_success_url
STRIPE_CANCEL_URL=your_stripe_cancel_url

# Логин и пароль для подключения к почте
EMAIL_HOST_USER=your_mail
EMAIL_HOST_PASSWORD=your_password
