# Django
DJANGO_SECRET_KEY=your_secret_key

# PostgreSQL
DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_HOST=db
DATABASE_PORT=5432  # или другой порт, если используется не стандартный

# Инициализируйте Stripe с вашим API ключом
STRIPE_SECRET_KEY=your_secret_key

# Логин и пароль для подключения к почте
EMAIL_HOST_USER=your_mail
EMAIL_HOST_PASSWORD=your_password
