{% extends 'includes/base.html' %}

{% block title %}Подписка успешна - ContentPlatform{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Подписка успешно оформлена</div>
            <div class="card-body">
                <h5>Спасибо за покупку!</h5>
                <p>Теперь у вас есть доступ к премиум контенту.</p>
                <a href="{% url 'profile' %}" class="btn btn-primary">Перейти в профиль</a>
                <a href="{% url 'entry-list' %}" class="btn btn-secondary">Вернуться к записям</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
